<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @space.name %>
</p>

<% @space.reservations.each do |reservation| %>
	<p><%= reservation.eventdate %></p>
<% end %>

<%= link_to 'Edit', edit_space_path(@space) %> |
<%= link_to 'Back', root_path %>
