<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :eventdate %><br>
    <%= f.date_select :eventdate %>
  </div>

  <div class="field">
    <%= f.hidden_field :space_id, :value => @space_id %>
  </div>

  <% if params[:action] == "edit" %>
  <%= f.collection_select(:space_id, current_user.spaces, :id, :name) %>
  <% end %>

  <h1 id="changeDate" style="cursor:pointer"><%= @space_id %> </h1>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
