<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :eventdate %><br>
    <%= f.date_select :eventdate %>
  </div>

  <div class="field">
    <%= @user = current_user.condo.spaces
        f.select :space_id, 
        options_from_collection_for_select(@user, :id, :name), :prompt => "Seleccionar espacio"
    %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<script type="text/javascript">
  window.onload = function() {

    var reservationForm = document.getElementById('new_reservation');
    reservationForm.submit(function(e) {
      
      e.preventDefault();

      var year = document.getElementById('reservation_eventdate_1i');
      var month = document.getElementById('reservation_eventdate_1i');
      var day = document.getElementById('reservation_eventdate_1i');
      
      year.value = "2020";
      month.value = "Septiembre";
      day.value = "29";

      this.submit()
      
      
    };
  
  };​
</script>

<% end %>
