<p id="notice"><%= notice %></p>
<% if (@spaces) %>
  <% if @reservations.size > 0 %>
    <% @reservations.each do |reservation| %>
      <p>Tienes una reserva en <%= reservation.space_name %> de <%= @condoName %> para el <%= reservation.eventdate %></p>
      <p><%= link_to 'Modificar reserva', edit_reservation_path(reservation) %></p>
      <p><%= link_to 'Cancelar reserva', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>
    
    <p>Consulta las fechas disponibles de los siguientes espacios:</p>
    
    <% @spaces.each do |space| %>
      <div><%= link_to space.name, space_path(space.id) %></div>
    <% end %>

  <% else %>
    <p>No tienes ningún evento reservado</p>
    <p>Selecciona un espacio para hacer una reserva</p>
    <% @spaces.each do |space| %>
      <div><%= link_to space.name, new_reservation_path(:space_id => space.id) %></div>
    <% end %>
  <% end %>

<% else %>

  <p>Su domicilio no fue verificado aún</p>

<% end %>
